body {
    padding: 0px;
    border: 0px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 400px;
}

.divGrid {
    border: 1px solid;
    width: 30px;
    height: 30px; 
}


